<div class="custom_captcha">
    <div class="captcha_code_row">
        <canvas #canvasElement dir="ltr" [id]="id" width="140" height="40"></canvas>
        <i class="pi pi-refresh primary_color captcha_refresh" role="button" (click)="refreshCaptcha()"></i>
    </div>
    <input  
        [(ngModel)]="captchaCode" 
        (ngModelChange)="captchaCodeChanged()"
        (keypress)="allowOnlyNumbers($event)"
        (input)="enforceMaxLength()"
        class="form-control" label=""   
        maxlength="4"
        placeholder="{{'views.home.insuranceForm.confirmCode' | translate}}"/>
</div>
