<div class="additional_data">
    <app-title-box-component title="views.insuranceShow.compareOffers" subtitle="" step="">
    </app-title-box-component>

    @if (loading()) {
        <div class="text-center py-5">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
    } @else if (hasError()) {
        <div class="alert alert-warning">{{ 'errors.somethingWentWrong' | translate }}</div>
    } @else {
        @for (group of offerGroups(); track group[0].insuranceCompanyId + '-' + group[0].coverageYears) {
            <div class="mb-4">
                <app-mmp-offer-box [offers]="group"></app-mmp-offer-box>
            </div>
        } @empty {
            <div class="text-center grey_color py-5">{{ 'errors.noOffers' | translate }}</div>
        }
    }
</div>
