.apply_steps{
    background-color: var(--bs-gray-200);
    ::ng-deep{
        img{
            width: 150px;
            height: 140px ;
        }
        
    }
}

.apply_steps {
    .underlied_title {
        --secondaryColor: var(--primaryColor);
    }
}